body {
margin: 3em 1em 2em 3em;
color: black;
background-color: #ffffff
}
.senmon{
color: #8C6136
}
.ringo{
color: #CC0033
}
.medatsu {
font-size: 170%;
font-weight: bold
}
.dl{
  margin:2em 8em;
  background: #eeddee;
  padding: 0.5em;
}
.topic{
  margin:2em 10em;
  background: #ffffff;
  padding: 0.5em;
}
.inyou{
  margin:1em 5em;
  background: #ffffff;
  padding: 0.5em;
}